.row
  .col-md-12
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.input :email
      / = f.input :username
      = f.input :password, autocomplete: "off"      
      - if @validatable
        %em
          (#{@minimum_password_length} characters minimum)  
      = f.input :password_confirmation, autocomplete: "off"      
      = f.input :photo, :as => :file
      = f.input :birthdate
      = f.input :origin_country
      = f.input :current_city
      = f.input :current_country
      / = f.input :description Discarded for now
      = f.input :activity
      = f.hint "I walk on the moon"

      = f.button :submit, "Sign up"