%p Great ! Can you give us some details about this house ?

= h.input :garden,        	:label => "Does it have a garden or green area ?"
= h.hint "Nomads who are working hard also appreciate to take some fresh air !"

= h.input :terrace,         :label => "Does it have a terrace?"

= h.input :alarm,          	:label => "Is there an alarm ?"
= h.hint "Security is also important in order to feel comfortable in a new place."