#new-stay
  - content_for :title do
    Add a new stay

  - content_for :subheader do
    - if current_user.stays.any?
      = link_to admin_stays_path do
        Host dashboard
    - else
      = link_to root_path do
        Home

  = simple_form_for @stay, :method => :post, :html => { :multipart => true } do |f|    
    = f.input :latitude, :as => :hidden
    = f.input :longitude, :as => :hidden

    / Accomodation Type

    %h3 What sort of accomodation do you offer ?

    = f.input :accomodation_type, 
              collection: accomodation_types,
              include_blank: false,
              label: "Accomodation"

    / Room

    #accomodation_is_room
      = render :partial => 'form_room'

    #form-details

      / Description

      %h3 Write a beautiful description

      .panel.panel-default
        .panel-body
          = f.input :title
          = f.hint "Type something that will attract nomads. For example: Fully furnished apartment by the sea"
          = f.input :description

      / Apartment 

      #accomodation_is_apartment

        %h3 About your apartment

        .panel.panel-default
          .panel-body
            = f.simple_fields_for :apartment do |a|
              = render :partial => 'form_apartment', :locals => {:a => a}

      / House          

      #accomodation_is_house

        %h3 About your house

        .panel.panel-default
          .panel-body
            = f.simple_fields_for :house do |h|
              = render :partial => 'form_house', :locals => {:h => h}

      / Location

      %h3 Where is it ?
      %p.subtitle Don't worry, we will only offer an approximate location   until booking is completed

      .panel.panel-default
        .panel-body

          .row
            .col-md-6

              = f.input :country
              = f.input :state 
              = f.input :city
              = f.input :street_address
              = f.hint "Once you have filled those fields please fine-grain the position by clicking on the map"

            .col-md-6

              = render "new_stay_map"                

      / Connection

      %h3 What sort of connetion is available ?
      %p.subtitle Remember, only stays that have an internet connection will be listed

      .panel.panel-default
        .panel-body
          = f.input :wifi
          = f.input :wifi_speed,
            :label => "What is the speed of your internet connection ?",
            collection: internet_speed_types,
            include_blank: false              
          = f.input :router_access, :label => "Does your guest has physical access to the router ? (in case he needs to restart it)"
          = f.input :mobile_data
          = f.input :mobile_data_speed,
            :label => "What is the speed of your mobile data connection in your place ?",
            collection: internet_speed_types,
            include_blank: false                   

      / Amenities

      %h3 Does your place offer amenities ?

      .panel.panel-default
        .panel-body
          = f.input :terrace
          = f.input :desk
          = f.hint "Having a desk will give you a better score"

      / Price

      %h3 What will be the monthly cost ?

      .panel.panel-default
        .panel-body
          = f.input :monthly_price, wrapper: :vertical_input_group, hint: "Remember, the minimum stay length will be 1 month" do
            %span.input-group-addon US $
            = f.input_field :monthly_price, class: "form-control"

      / Extra services

      %h3 Would you like to offer any extra service ?
      %p.subtitle Make some extra bucks by offering a more comfortable stay, or give it for free !

      .panel.panel-default
        .panel-body#extra-services
          / TODO: Limit HTML5 numeric inputs to >= 0 and < 200
          = f.input :service_laundry,   :label => "Take care of your nomad's laundry"

          = f.input :service_laundry_price, wrapper: :vertical_input_group, label: false do
            %span.input-group-addon US $
            = f.input_field :service_laundry_price, class: "form-control"

          = f.input :service_cleaning, :label => "Weekly cleaning of the stay"

          = f.input :service_cleaning_price, wrapper: :vertical_input_group, label: false do
            %span.input-group-addon US $
            = f.input_field :service_cleaning_price, class: "form-control"

          = f.input :service_sim_card,  :label => "Local SIM Card"

          = f.input :service_sim_card_price, wrapper: :vertical_input_group, label: false do
            %span.input-group-addon US $
            = f.input_field :service_sim_card_price, class: "form-control"    

          = f.input :service_pickup,    :label => "Airport Pickup"

          = f.input :service_pickup_price, wrapper: :vertical_input_group, label: false do
            %span.input-group-addon US $
            = f.input_field :service_pickup_price, class: "form-control"          

      / Photos

      %h3 Photos
      %p.subtitle Photos are extremely important, put as many as possible.
      %p.subtitle 
        %u A lack of photos or poor quality of them will result in your new addition being cancelled.

      .panel.panel-default
        .panel-body
          = f.fields_for :stay_photos do |p|
            .field
              = p.label :file
              %br
                = p.file_field :file, :multiple => true, name: "stay_photos[file][]"

      = f.button :submit, "Add"