.row
  .col-md-12
    %h3 Add a new stay

    = simple_form_for @stay, :method => :post do |f|    
      = f.input :latitude, :as => :hidden
      = f.input :longitude, :as => :hidden

      / Description

      %h4 Write a beautiful description

      .panel.panel-default
        .panel-body
          .input-group
            = f.input :title
            = f.hint "Type something that will attract nomads. For example: Fully furnished apartment by the sea"
            = f.input :description

      / Accomodation Type

      %h4 What sort of accomodation do you offer ?

      = f.select :accomodation_type, ["Select one", "Apartment", "House", "Room"]

      / Apartment 
      #accomodation_is_apartment
        = f.simple_fields_for @stay.apartment do |a|

          = a.input :nrooms,        :label => "How many rooms does it have ?"
          = a.input :floor,         :label => "In what floor is it ?"
          = a.input :lift,          :label => "Does the building have a lift ?"
          / Later we can showa message depending on which floor is this apartment
          / "Wow, 4 floors is high enough ! Does the building have a lift ?"
          = a.input :security,      :label => "Is there some sort security in the building ?"

      / House            
      #accomodation_is_house
        = f.simple_fields_for :house do |h|
          = render :partial => 'form_house', :locals => {:h => h}

      / Location

      %h4 Where is it ?
      %p Don't worry, we will only offer an approximate location   until booking is completed

      .panel.panel-default
        .panel-body

          .row
            .col-md-6

              .input-group
                = f.input :country
                = f.input :state 
                = f.input :city
                = f.input :full_street_address
                = f.hint "Once you have filled those fields please fine-grain the position by clicking on the map"

            .col-md-6

              = render "new_stay_map"                

      / Connection

      %h4 What sort of connetion is available ?
      %p Remember, only stays that have an internet connection will be listed

      .panel.panel-default
        .panel-body
          .input-group
            = f.input :wifi
            = f.select :wifi_speed,
              ["< 1 Mbps", "1 - 3 Mbps", "5 Mbps", "10 Mbps", "> 10 Mbps"],
              :label => "What is the speed of your internet connection ?"
            = f.input :router_access, :label => "Does your guest has phisycal access to the router ? (in case he needs to restart it)"
            = f.input :mobile_data
            = f.select :mobile_data_speed,
              ["< 1 Mbps", "1 - 3 Mbps", "5 Mbps", "10 Mbps", "> 10 Mbps"],
              :label => "What is the speed of your mobile data connection in your place ?"

      / Amenities

      %h4 Does your place offer amenities ?

      .panel.panel-default
        .panel-body
          .input-group
            = f.input :terrace
            = f.input :desk
            = f.hint "Having a desk will give you a better score"

      / Extra services

      %h4 Would you like to offer any extra service ?
      %p Make some extra bucks while offering a more comfortable stay

      .panel.panel-default
        .panel-body
          .input-group
            = f.input :laundry
            = f.input :cleaning
            = f.input :data_sim_card, :label => "Data SIM Card"
            = f.input :airport_pickup, :label => "Airport Pickup"

      = f.button :submit, "Add"