- content_for :title do
  #{@stay.title}

- content_for :subheader do
  %p= link_to "Book this stay", new_booking_path(stay_id: @stay.id)

#stays-show

  .photo-overlay
    .title
      #{@stay.title}
    .price
      #{@stay.monthly_price} $ / month
    .photo{:style => "background-image: url(#{image_path @cover_photo.file_url})"}

  .photo-subheader
    .extra-services
      .service
        .title
          Laundry
        .price
          25 $ monthly 
      .service
        .title
          Cleaning
        .price
          15 $ monthly    
      .bookit   
        = link_to "Book", new_booking_path(stay_id: @stay.id)

  .content

    .overview
      .description
        = @stay.description
        
        .rate
          %h3 Rate by other nomads
          %h4 Proximity

          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
           
          %h4 Connectivity
          
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star-empty{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star-empty{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star-empty{"aria-hidden" => "true"}

          %h4 Luminosity
          
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-star-empty{"aria-hidden" => "true"}                     
          
      .photos
        - @stay_photos.each do |p|
          = image_tag p.file.thumb

  .map-wrapper
    #latitude= @stay.latitude
    #longitude= @stay.longitude
    = render "map"