- content_for :title do
  Manage your stay #{@stay.title}

- content_for :subheader do
  = link_to "Host dashboard", admin_stays_path

  = link_to new_stay_room_path(@stay.id) do
    Rent out a room in this stay

.wrapper#show-stay

  .panel.panel-default
    .panel-heading Availability
    .panel-body
      .datepicker.availability-calendar
      
  %h3 Manage 
  %p= link_to "Edit this stay", edit_stay_path(id: @stay.id)

  - if @stay.attached_rooms.any?
    %h3 Rooms
    
    - @stay.attached_rooms.each do |room|
      %p= link_to room.title, stay_room_path(stay_id: @stay.id, id: room.id)

    
/ Yes, I am mixing JS with HTML and RUBY, send me to hell HAHA !
:javascript
  var booked_dates = #{@booked_dates};