%h3 Your booking

.panel.panel-default
  .panel-body#bill
    %h4= @stay.title

    - if @room
      %p= "You will stay in #{@room.title}"
      / TODO: Show avatars of other nomads staying here

    / main picture smaller

    %p
      You are staying for
      %span#stay_length

    %p
      From 
      %span#date_from
      To
      %span#date_to

    %table.table

      / Stay 

      %tr
        %td
          - if @room
            Room
          - else
            = @stay.accomodation_type
        %td
          - if @room
            %p#stay_price= "#{@room.monthly_price}"
          - else
            %p#stay_price= "#{@stay.monthly_price}"

      / Extra services       

      - if @stay.service_laundry
        %tr.extra-service#booking_service_laundry
          %td
            Laundry
          %td
            = "#{@stay.service_laundry_price}"

      - if @stay.service_cleaning
        %tr.extra-service#booking_service_cleaning
          %td
            Weekly cleaning
          %td
            = "#{@stay.service_cleaning_price}"                    

      - if @stay.service_sim_card
        %tr.extra-service#booking_service_sim_card
          %td
            Local SIM card
          %td
            = "#{@stay.service_sim_card_price}"          

      - if @stay.service_pickup
        %tr.extra-service#booking_pickup
          %td
            Pickup
          %td
            = "#{@stay.service_pickup_price}"    

      / Total

      %tr#total
        %td
          Total for
          %span#months
        %td#pricetag
          TOTAL