.container#new-booking

  %h3= "Booking form"

  .row
    .col-md-6
      = simple_form_for @booking, :url => stay_bookings_path(stay_id: @stay.id) , :method => :post do |f|    

        = f.error_notification

        / Period

        %h4 Choose the length of your booking

        .panel.panel-default
          .panel-body
          
            %p I will arrive the

            / TODO: Use a more human-readable format for the date
            = f.text_field :date_from,
                      value: Date.today.strftime("%d/%m/%Y"),
                      :data => {:provide => "datepicker"},
                      label: "Book from",
                      as: :datepicker,
                      class: "datepicker availability-calendar",
                      error_html: { id: 'date_from_error'} 

            = f.error :date_from, :id => "date_from_error"                      

            %p and stay for

            = f.input :stay_length_in_months, 
                      collection: months_to_stay,
                      include_blank: false,
                      label: false                 

        / Extra services

        %h4 Your host offers the following extra services
        %p Choose as many as you want to make your stay more comfortable !

        .panel.panel-default
          .panel-body#extra-services

            - if @stay.service_laundry
              = f.input :service_laundry, :label => "Laundry", :id => "service-laundry"
              .integer.booking_service_laundry_price
                .input-group
                  %span#basic-addon1.input-group-addon US $
                  %input.form-control.integer{"aria-describedby" => "basic-addon1", :placeholder => @stay.service_laundry_price, :type => "text", :readonly => "readonly"}        
              = f.hint "He will take care of your laundry, cool!"

            - if @stay.service_cleaning
              = f.input :service_cleaning, :label => "Weekly cleaning", :id => "service-cleaning"
              .integer.booking_service_cleaning_price
                .input-group
                  %span#basic-addon1.input-group-addon US $
                  %input.form-control.integer{"aria-describedby" => "basic-addon1", :placeholder => @stay.service_cleaning_price, :type => "text", :readonly => "readonly"}  
              = f.hint "Would you like to get your place cleaned every week ?"

            - if @stay.service_sim_card
              = f.input :service_sim_card, :label => "Local SIM Card", :id => "service-sim-card"
              .integer.booking_service_sim_card_price
                .input-group
                  %span#basic-addon1.input-group-addon US $
                  %input.form-control.integer{"aria-describedby" => "basic-addon1", :placeholder => @stay.service_sim_card_price, :type => "text", :readonly => "readonly"}  
              = f.hint "Handy to receive a local SIM card as soon as you arrive, right ?"

            - if @stay.service_pickup
              = f.input :service_pickup, :label => "Pickup on arrival", :id => "service-pickup"
              .integer.booking_service_pickup_price
                .input-group
                  %span#basic-addon1.input-group-addon $ US $
                  %input.form-control.integer{"aria-describedby" => "basic-addon1", :placeholder => @stay.service_pickup_price, :type => "text", :readonly => "readonly"}  
              = f.hint "Let your host pick you up wherever you land. Aiport, train or bus station..."

        / Special request

        %h4 Anything else ? 

        .panel.panel-default
          .panel-body
            = f.input :special_request
            = f.hint "Tell your host any special request you may have"

        = f.button :submit, "Book"

    .col-md-6          
      = render "bill"



/ Yes, I am mixing JS with HTML and RUBY, send me to hell HAHA !
:javascript
  var booked_dates = #{@booked_dates}   
