.host-dashboard

  - content_for :title do
    Host dashboard

  - content_for :subheader do
    = link_to new_stay_path do
      Rent out a new stay

  - current_user.stays.each do |stay|
    = link_to stay_path(stay.id) do
      .stay-card= stay.title

  %h3 Pending for approval

  - current_user.stays.each do |stay|
    - stay.pending_bookings.each do |booking|
      .booking
        = link_to booking_path(booking.id) do
          #{image_tag(booking.user.photo, class: "gravatar")}
          #{booking.user.first_name} would like to stay in #{booking.stay.title} from #{booking.date_from} to #{booking.date_to} 

  %h3 Waiting for payment

  - current_user.stays.each do |stay|
    - stay.pending_payment_bookings.each do |booking|
      .booking
        = link_to booking_path(booking.id) do
          #{image_tag(booking.user.photo, class: "gravatar")}
          #{booking.user.first_name} would like to stay in #{booking.stay.title} from #{booking.date_from} to #{booking.date_to}              

  %h3 Next arrivals

  - current_user.stays.each do |stay|
    - stay.ready_bookings.each do |booking|
      .booking
        = link_to booking_path(booking.id) do
          #{image_tag(booking.user.photo, class: "gravatar")}
          #{booking.user.first_name} would like to stay in #{booking.stay.title} from #{booking.date_from} to #{booking.date_to}        