%h3 Add a new room in #{@stay.title}

= simple_form_for(@room, :url => stay_room_path(stay_id: @stay.id, id: @room.id), :method => "put") do |f|
  = f.input :title
  = f.hint "Make it appealing ! 'Spacious room on the sunny east side'"
  = f.input :sqm, label: "How big is this room ?"
  = f.hint "Only approximately, in square meters"
  = f.input :desk, label: "Does it have a desk ?"
  = f.hint "Remember, a nomad will spend most of his time working !"
  = f.input :kitchen_access, label: "Are nomads free to use to the kitchen ?"

  = f.button :submit, "Add"