%h3 Add a new room in #{@stay.title}

= simple_form_for(@room, :url => stay_rooms_path(@stay.id)) do |f|
  = f.input :title
  = f.hint "Make it appealing ! 'Spacious room on the sunny east side'"
  = f.input :sqm, label: "How big is this room ?"
  = f.hint "Only approximately, in square meters"
  = f.input :desk, label: "Does it have a desk ?"
  = f.hint "Remember, a nomad will spend most of his time working !"
  = f.input :kitchen_access, label: "Are nomads free to use to the kitchen ?"

  = f.input :monthly_price, wrapper: :vertical_input_group, hint: "Remember, the minimum stay length will be 1 month" do
    %span.input-group-addon US $
    = f.input_field :monthly_price, class: "form-control"  

  = f.button :submit, "Add"