!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nomad Stays

    = favicon_link_tag

    / Google maps
    %script{:src => "http://maps.google.com/maps/api/js?libraries=places&sensor=false", :type => "text/javascript"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

  %body

    .container-fluid
      .main-panel
        .row
          .col-md-12
            = render "header/header"
            / = render "header/subheader"

            - if flash[:alert]
              %p.bg-danger= flash[:alert]

            - if flash[:notice]      
              %p.bg-warning= flash[:notice]

            = yield